<div class="container p-5 w-75">
    <div class="card d-flex flex-column align-items-center p-5">
        <h1>Login!</h1>
        <input type="text" class="form-control mb-3 mt-3" placeholder="Enter Username"/>
        <input type="password" class="form-control mb-3" placeholder="Enter Password"/>
        <div class="column">
            <button class="btn btn-primary me-3" type="submit">Submit</button>
            <button class="btn btn-primary" (click)="navigateSignup()">Signup</button>
        </div>
    </div>
</div>